.btn {
    background-color: white;
    color: rgba(10, 10, 10, 0.8);
    border: 2px solid rgba(10, 10, 10, 0.7);
    border-radius: 0;
    font-weight: bold;
    font-size: 12px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;  
}

.btn:hover {
    background-color: rgb(136, 250, 203);
}

body{
    background-color: brown;
}