<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movie 2020</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg   navbar-light" style="background-color: rgb(199, 23, 32);">
        <a href="http://localhost:8000/" class="navbar-brand" style="font-family: Georgia, 'Times New Roman', Times, serif;">
            TopMovie
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="http://localhost:8000/registro/top2020">Top Movie 2020</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/registro/noticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Acerca de nosotros</a>
                </li>
                {% if user.is_authenticated%}
                {% if user.is_superuser == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/usuario/listar"> ADMINISTRAR</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>

        <div class="registro">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <p>Usuario : {{user.first_name}} {{user.last_name}}</p>
                <br><br>
                <li><a href="{% url 'logout' %}" class="boton_2" style="text-decoration:none">logout</a></li>
                {% else %}
                <li><a href="{% url 'registrar' %}" class="boton_1" style="text-decoration:none">Registrarse</a></li>
                <li><a href="{% url 'login' %}" class="boton_2" style="text-decoration:none">Iniciar</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <section class="top">
        <div class="movie">
            <h1 class="titulo">1.- 1917</h1>
            <img class="img-flex" src="/static/images/1917.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Historia narrada desde las trincheras de la I Guerra Mundial transcurre con un
                solo plano secuencia, los dos soldados embarcados en una misión imposible para impedir
                una masacre inyecta humanidad a una historia que podría haber quedado en mero exhibicionismo técnico.
            </p>
        </div>
        <div class="movie">
            <h1 class="titulo">2.- El Faro</h1>
            <img class="img-flex" src="/static/images/elFaro.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>En la década de 1890, dos fareros que afrontan un turno de cuatro semanas juntos combaten
                la constante tentación de dejarse arrastrar por la locura en una isla remota y misteriosa de
                Nueva Inglaterra.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">3.- Solo Nos Queda Bailar</h1>
            <img class="img-flex" src="/static/images/soloNosQuedaBailar.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Merab lleva ensayando desde que era muy joven en la Compañía Nacional de Danza de Georgia
                con su pareja de baile, Mary. De repente, su vida da un vuelco cuando aparece el despreocupado
                y carismático Irakli y se convierte en su rival más poderoso, pero también en su mayor objeto de
                deseo.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">4.- Aguas Oscuaras</h1>
            <img class="img-flex" src="/static/images/aguasOscuras.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Inspirada en una impactante historia real. Un tenaz abogado (Mark Ruffalo) descubre el oscuro
                secreto que conecta un número creciente de muertes y enfermedades con una de las corporaciones
                más grandes del mundo. En el proceso arriesga su futuro, su trabajo y hasta su propia familia para
                sacar a la luz la verdad.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">5.- Manhattan sin salida</h1>
            <img class="img-flex" src="/static/images/manhattanSinSalida.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Andre Davis, policía de la ciudad de Nueva york caído en desgracia,
                tiene una oportunidad para redimirse cuando se le encarga la investigación del asesinato de
                un compañero de profesión. Durante su búsqueda se cerrarán por primera vez en la historia de
                Manhattan todos los puentes que acceden a ella y Andre descubrirá una conspiración.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">6.- Sonic</h1>
            <img class="img-flex" src="/static/images/Sonic.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Sonic intenta navegar por las complejidades de la vida en la Tierra con su nuevo mejor
                amigo, un humano llamado Tom Wachowski. Pronto deben unir fuerzas para evitar que el malvado
                Dr. Robotnik capture a Sonic y use sus poderes para dominar el mundo.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">7.- El hombre invisible
            </h1>
            <img class="img-flex" src="/static/images/elHombreInvisible.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Un científico loco finge su suicidio y luego utiliza su invisibilidad para aterrorizar a
                su expareja, quien decide enfrentar al hombre invisible ella misma luego de que la policía no
                creyera su historia.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">8.- Onward</h1>
            <img class="img-flex" src="/static/images/Onward.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Ambientado en un mundo de fantasía suburbana, dos hermanos elfos adolescentes, Ian y
                Barley Lightfood, se embarcan en una aventura en la que se proponen descubrir si existe aún
                algo de magia en el mundo que les permita pasar un último día con su padre, que falleció
                cuando ellos eran aún muy pequeños como para poder recordarlo.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">9.- Under the Skin</h1>
            <img class="img-flex" src="/static/images/UnderTheSkin.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Una extraterrestre se disfraza como una mujer, recorre Escocia e intenta engañar a una
                serie de hombres que no sospechan y los mete a su camioneta. es una película de ciencia
                ficción y terror británico-estadounidense de 2013 dirigida por Jonathan Glazer,
                y escrita por Glazer y Walter Campbell como adaptación de la novela homónima de Michel Faber.</p>
        </div>
        <div class="movie">
            <h1 class="titulo">10.- Vivarium</h1>
            <img class="img-flex" src="/static/images/Vivarium.png" alt="imagen">
            <h2 class="subtitulo">Descripción</h2>
            <p>Una joven pareja visita una inmobiliaria para comprar una casa. Un extraño agente los
                acompaña a una nueva, misteriosa y peculiar urbanización para mostrarles una vivienda
                unifamiliar. Allí se quedarán atrapados en una laberíntica pesadilla.</p>
        </div>
    </section>

    <footer id="footer">
        <div class="container_full">
            <div class="container_body">
                <div class="colum1">
                    <h1>Informacion sobre Nuestra pagina</h1>
                    <p>Esta pagina se dedica a mostrar TOP de peliculas por año, asi como mostrar noticias del
                        espectaculo
                        actual.</p>
                </div>
                <div class="colum2">
                    <h1>Redes Sociales</h1>
                    <div class="filas">
                        <a href="https://www.facebook.com/" target="_blank"><img src="/static/images/logofacebook.png"
                                alt="imagen" width="28" height="28"><label>Siguenos en Facebook</label></a>
                    </div>
                    <div class="filas">
                        <a class="instagram" href="https://www.instagram.com/?hl=es-la" target="_blank"><img
                                src="/static/images/logoinsta.png" width="28" height="28"><label>Siguenos en
                                Instagram</label></a>
                    </div>
                    <div class="filas">
                        <a class="twitter" href="https://twitter.com/?lang=es" target="_blank"><img
                                src="/static/images/logotwitter.png" width="28" height="28"><label>Siguenos en
                                Twitter</label></a>
                    </div>
                    <div class="filas">
                        <a class="pinterest" href="https://www.pinterest.cl/" target="_blank"><img
                                src="/static/images/logopinterest.png" width="28" height="28"><label>Siguenos en
                                Pinterest</label></a>
                    </div>
                </div>
                <div class="colum3">
                    <h1>Contacto</h1>
                    <div class="filas2">
                        <img src="/static/images/logocasita.png" width="28" height="28">
                        <label>Sede central en Avenida Siempreviva 742</label>
                    </div>
                    <div class="filas2">
                        <img src="/static/images/logotelefono.png" width="28" height="28">
                        <label>+569 123456</label>
                    </div>
                    <div class="filas2">
                        <a class="gmail" href="https://www.google.com/intl/es-419/gmail/about/" target="blank"><img
                                src="/static/images/logogmail.png" width="28"
                                height="28"><label>TOPMOVIES@GMAIL.COM</label></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>